        title {
        align:center;
        }
        table {
            border:1px solid #ccc;
            width: 100%;
            border-radius: 5px;
            margin-bottom:inherit;
        }
        th{
            font-weight:bold;
        }
        th, td {
            text-align: left;
            padding: 6px;
        }
        th {
            background-color: #e2e2e2;
            color: black;
        }
        tr:nth-child(even){background-color: #f2f2f2}
	h1{
	    text-align: center;
   	}
