@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

#resultado{
  width:100%;
  margin-top:8px;
  margin-bottom:0px;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  text-align: left;
  line-height:100%;
}



#formulario{
  border-right:6px solid transparent;
  border-bottom:6px solid #3399cc;
  border-left:6px solid transparent;
  margin-top: 0px;
}

form{
  background:rgba(213, 213, 213, 0.2);
  padding:4% 4%;
  text-align: center;
  border-top: 0;
}
input[type="text"],input[type="text"]{
  border-radius: 12px;
  width:92%;
  margin-bottom:2%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
}

button{
  border-radius: 12px;
  width:30%;
  margin:0 auto;
  background:#DF4040;
  padding:1%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
h1{
  text-align: center;
}